:root{
	--mainColor:#121c26;
	--secondaryColor:#5e6770;

	--borderColor:#2D5E66;

	--mainText:#E5E5E5;
	--secondaryText:#A6A6A6;

	--themeDotBorder:#CCCCCC;

	--previewBg:rgb(25, 52, 39);
	--previewShadow:#283037;


	--buttonColor:#73C7D4;


}