:root{
	--mainColor:#8B9384;
	--secondaryColor:#ABAFA6;

	--borderColor:#111410;

	--mainText:#70726F;
	--secondaryText:#808080;

	--themeDotBorder:#C9C9C9;

	--previewBg:rgb(90, 81, 72);
	--previewShadow:#D3D4D2;


	--buttonColor:#E7EFE7;


}
